*{margin: 0;padding: 0;}
ul,li,ol{list-style: none;}
a{
	text-decoration: none;
}
img{
	width: 100%;
	height: auto;
	max-width: 100%;
	display: block;
}

html{
	font-size: 62.5%;
	font-family: "Lucida Grande", "Lucida Sans Unicode",
             "Microsoft YaHei", "微软雅黑",
             STXihei, "华文细黑",
             sans-serif;
  font-weight: 300;
}

h1{font-size: 3rem;}
h3{font-size: 2rem;}
h1,h2,h3,h4,h5,h6{font-weight: 500;}

#fp-nav>ul>li>a>span{
	background-color: #fb417e;
}

.m-nameCard,.m-contents,.m-aboutMe,.m-timeLine,.m-timeLine-2,.works1,.works2{
	position: relative;
	width: 110rem;
	margin: auto;
}

/*第一部分*/
.m-nameCard{
	height: 35rem;
}

.m-nameCard .headPhoto{
	position: absolute;
	box-sizing: border-box;
	top: 4.7rem;
	left: 20rem;
	width: 25.6rem;
	height: 25.6rem;
	border: 2px solid white;
	border-radius: 50%;
	background-image: url(../img/head.jpg);
	background-size: 100%;
}

.m-nameCard .intr{
	position: absolute;
	top: 4.7rem;
	right: 5rem;
	box-sizing: border-box;
	height: 25.6rem;
	width: 50rem;
	padding: 0 5rem 0 5rem;
	border-left: 1px solid #fff;
	color: #feffff;
}

.m-nameCard .intr h1{
	margin-bottom: 1rem;
}

.m-nameCard .intr p{
	font-size: 2.2rem;
	margin-bottom: 1.5rem;
}

.m-nameCard .intr .nm,.m-nameCard .intr .job{
	font-size: 2.6rem;
	color: #ff3f8d;
}

/*第二部分*/
.m-contents{
	height: 100%;
}

.m-contents .title{
	position: absolute;
	left: 10rem;
	width: 19.5rem;
	height: 37rem;
	text-align: center;
	background-color: #232137;
}

.m-contents .title p{
	font-size: 3rem;
	margin-top: 31rem;
	color: #ff3f8d;
}

.m-contents .mainList{
	position: absolute;
	top: 12rem;
	left: 35rem;
	font-size: 3rem;
}

.m-contents .mainList a:hover{
  color: #ff4285;
}

.m-contents .mainList>li{
	margin: 3.5rem 0;
}

.m-contents .mainList>li>a{
	color: #f7f6ff
}

.m-contents .mainList>li>a:before{
	content: '';
	display: inline-block;
	width: 1.2rem;
	height: 1.2rem;
	margin-right: 2.5rem;
	border-radius: 50%;
	background-color: #ff4285;
}

.m-contents .childList>li{
	font-size: 2.3rem;
	margin: 2.5rem 0;
	padding-left: 5rem;
}

.m-contents .childList>li>a{
	color: #b1b0be;
}

.m-contents .childList>li>a:before{
	content: '';
	display: inline-block;
	width: 1rem;
	height: 1rem;
	margin-right: 2.5rem;
	border-radius: 50%;
	background-color: #ff4285;
}

/*第三部分*/
.m-aboutMe{
	height: 100%;
	color: #fefdff;
}

.m-aboutMe h1{
	position: absolute;
	top: 5rem;
	left: 14rem;
}

.m-aboutMe section{
	position: absolute;
	top: 50%;
	left: 50%;
  width: 70rem;
  transform: translate(-50%,-50%);
  padding: 10px;
  font-size: 20px;
}

.m-aboutMe section p{
	padding: 10px 5px;
}

.m-aboutMe section p span{
	margin-right: 1.5rem;
}

/*第四部分*/
.m-timeLine{;
	height: 100%;
	color: #bcbcc6;
	border: 1px solid transparent;
}

.m-timeLine .title{
	position: absolute;
	top: 4rem;
	left: 8rem;
	width: 46rem;
	height: 6rem;
	line-height: 6rem;
	text-align: center;
	font-size: 3.5rem;
	color: #fefdff;
	background-color: #252338;
}

.m-timeLine .main{
	position: relative;
  margin-top: 10rem;
  height: 100%;
}

.m-timeLine .main .line1{
	position: absolute;
	left: 31rem;
	top: 0.5rem;
	width: 0;
	height: 4rem;
	border-left: 2px solid #493046;
}

.m-timeLine .main .line2{
	position: absolute;
	left: 31rem;
	top: 9rem;
	width: 0;
	height: 100%;
	border-left: 2px solid #fc4482;
}

.m-timeLine .main .ball1{
	position: absolute;
	z-index: 1;
	left: 30.1rem;
	top: 5.8rem;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background-color: #fc4482;
}

.m-timeLine .main .ball2{
	position: absolute;
	z-index: 0;
	left: 29.3rem;
	top: 5.1rem;
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
	background-color: #493046;
}

.m-timeLine .main .img1{
	position: absolute;
	top: 5.8rem;
	left: 10rem;
	width: 17rem;
	height: 3rem;
}

.m-timeLine .main section{
	position: absolute;
	left: 35rem;
	top: 6rem;
	font-size: 1.6rem;
}

.m-timeLine .main section p:not(:first-child){
  margin-bottom: 1rem;
}

/*第四部分公用*/
.looksWhite{
  color: white;
  font-size: 1.8rem;
}

.workedTime{
	margin-bottom: 1rem;
	color: #fc4482;
	text-decoration: none;
}

/*第四部分第二页*/
.m-timeLine-2{
	height: 100%;
	color: #bcbcc6;
}

.m-timeLine-2 .line1{
	position: absolute;
	left: 31rem;
	top: 0.5rem;
	width: 0;
	height: 20rem;
	border-left: 2px solid #fc4482;
}

.m-timeLine-2 .ball1{
	position: absolute;
	z-index: 1;
	left: 30.1rem;
	top: 21.7rem;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background-color: #fc4482;
}

.m-timeLine-2 .ball2{
	position: absolute;
	z-index: 0;
	left: 29.3rem;
	top: 20.9rem;
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
	background-color: #493046;
}

.m-timeLine-2 .company{
	position: absolute;
	top: 21rem;
	left: 10rem;
	width: 17rem;
	height: 3rem;
	line-height: 3rem;
	text-align: center;
	font-size: 2.2rem;
	color: white;
	background-color: #252338;
	border-radius: 1rem;
}

.m-timeLine-2 section{
	position: absolute;
	left: 35rem;
	top: 21.7rem;
	font-size: 1.6rem;
}

.m-timeLine-2 section p:not(:first-child){
  margin-bottom: 1rem;
}

/* 第六部分 */
.works1{
	height: 100%;
}

.works1 .title{
	position: absolute;
	top: 5rem;
	left: 14rem;
	color: #fefdff;
}

.works1 .leftSide{
  position: absolute;
  top: 17rem;
  left: 25rem;
  width: 40rem;
  font-size: 1.4rem;
  padding-bottom: 1rem;
  color: #bcbcc6;
}

.works1 .leftSide h3,.works2 .intr h3{
	margin-bottom: 1rem;
	color: white;
}

.works1 .leftSide p,.works2 .intr p{
  padding: 1rem;
}

.works1 .leftSide p::before, .works2 .intr p::before{
	content: "";
	display: inline-block;
	margin-right: 10px;
	width: 0.5rem;
	height: 0.5rem;
  text-align: center;
	border-radius: 50%;
	background-color: #fc4482;
}

.works1 .rightSide p{
  width: 16rem;
  transform: skew(20deg);
  box-shadow: -30px 20px 10px #161a25;
}

.works1 .rightSide .wx1{
	position: absolute;
	top: 15rem;
	left: 76rem;
	transition: top .5s ease-in 0s;
}

.works1 .rightSide .wx{
	position: absolute;
	top: 25rem;
	left: 60rem;
	transition: top .5s ease-in 0s;
}

.works1 .rightSide .wx1h{
  top: 10rem;
}

.works1 .rightSide .wxh{
  top: 20rem;
}


/* 第七部分 */
.works2{
  height: 100%;
}
.works2 .intr{
	position: absolute;
	font-size: 1.4rem;
	width: 40rem;
	padding-bottom: 1rem;
	color: #bcbcc6;
	right: 10rem;
}

.works2 .intr1{
  top: 5rem;
}

.works2 .intr2{
  top: 23rem;
}

.works2 .pic p{
	width: 38rem;
	transform: rotate(-10deg);
  box-shadow: -2rem 1rem 1rem #161a25;
}

.works2 .pic .shop{
	position: absolute;
	top: 5rem;
	left: 10rem;
	transition: left .5s ease-in 0s;
}

.works2 .pic .shop1{
	position: absolute;
	top: 29rem;
	left: 10rem;
	transition: left .5s ease-in 0s;
}

.works2 .pic .shoph{
	left: 15rem;
}

.works2 .pic .shop1h{
	left: 15rem;
}
